.loading-container {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.spinner-1 {
  animation: s1 1s infinite;
  border: 8px solid;
  border-color: white #0000;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

@keyframes s1 {

  to { transform: rotate(1turn); }
}
