.movie-card {
  background-color: white;
  width: 20%;
  height: 280px;
  min-width: 250px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.movie-card:hover {
  border: 3px solid gray;
}

.movie-title {
  color: #1A242F;
}

.movie-storyline {
  color: #1A242F;
  font-size: small;
}

.detail-link {
  background-color: white;
  color: #1A242F;
  padding: 0px 10px;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.detail-link:hover {
  transform: scale(1.2);
  font-weight: bold;
}
