.header {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
}

.library-title {
  color: white;
  margin: auto;
}

.add-movie {
  margin-right: 0;
  text-decoration: none;
  background-color: white;
  color: #1A242F;
  padding: 8px;
  border-radius: 10px;
  transition: background-color 0.7s ease, color 0.7s ease;
}

.add-movie:hover {
  background-color: #1A242F;
  color: white;
  border: 1px solid white;
}

.movie-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}