* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.movie-container {
  box-shadow: 1.5px 1.5px 5px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  margin: 24px auto;
  padding: 24px;
  width: 90%;
}

.container-image {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.img {
  position: relative;
  width: 100%;
}

.movie-title {
  bottom: 16px;
  color: whitesmoke;
  font-size: 1.5rem;
  padding-left: 20px;
  position: absolute;
}

.text-container {
  display: flex;
  flex-direction: column;
  font-family: Arial , Helvetica , sans-serif;
  padding: 20px 0 10px 20px;
}

.movie-subtitle {
  padding-bottom: 12px;
}

.movie-storyline {
  padding-bottom: 12px;
  width: 95%;
}

.movie-genre, .movie-rating {
  padding-bottom: 12px;
}

.buttons {
  border-top: solid 1px rgba(158, 158, 158, 0.37);
  display: flex;
  margin-top: 20px;
  padding-top: 16px;
}

.button-back, .button-edit {
  color: #a18432;
  padding: 10px 15px 10px 0;
  text-decoration: none;
}
