body{
    font-family: 'Montserrat', sans-serif;
    background-color: #c2dfe3ff;
    color: rgb(55, 64, 68);
    display: flex;
    flex-direction: column;
}
h1{
color: #253237ff;
font-weight: 700 bold;
}
#foto{
    padding: 15px;
    background-color: #9db4c0ff;
    border-radius: 100%;
}
#top{
    position: fixed;
    display: inline-flex;
    top: 0;  
    padding: 30px 20% 0 20%;
    max-height: 280px;
    background-color: #c2dfe3ff;
}
#top-list{
    list-style-type: none;
}
#top-nome{
    margin-left: 30px;
}
.format-corpo{
    margin-top: 30px;
    padding:0% 20%;
}
#sobre{
    margin-top: 300px;
}
#sobre p{
    text-align: justify;
}

#indice {
    align-items: flex-end;
}

#indice ul li {
    display: inline-block;
}