body {
  background-color: whitesmoke;
  box-sizing: border-box;
  font-size: 16px;
}

.movie-card-header {
  align-items: center;
  background-color: #343a40;
  display: flex;
  height: 100px;
  justify-content: center;
}

.page-title {
  color: #f8f9fa;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  padding: 48px 30px;
}

.movie-card {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 5px;
  overflow: hidden;
  width: 300px;
}

.edit-form {
  flex: 1 1 auto;
  padding: 20px;
}

.edit-body {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 5px;
  overflow: hidden;
  width: 300px;
}

.form-label {
  margin: 5px;
}

.text-input {
  margin: 5px;
  width: 80%;
}

.text-area-input {
  height: 100px;
  margin: 5px;
  width: 87%;
}

.select-input {
  margin: 10px;
  margin-left: 60px;
  width: 40%;
}

.movie-card-image {
  width: 100%;
}

.movie-card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.movie-card-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-subtitle {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}

.movie-card-storyline {
  font-size: 14px;
  text-align: justify;
}

.rating {
  background-color: #007bff;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 9px;
}

.link-btn {
  background-color: #aaa;
  border: solid 1px #888;
  color: green;
  margin: 2px;
  margin-left: 8px;
  padding: 7px 13px;
  text-decoration: none;
}

.link-btn:hover {
  background-color: #ccc;
}

.movie-card-edit {
  padding-bottom: 20px;
}

.movie-card-rating {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
}
