body {
  background-color: rgb(241, 241, 241);
  box-sizing: border-box;
  color: black;
  font-size: 16px;
}

.dark-mode-span {
  color: white;
  font-size: 10px;
  left: 20px;
  position: absolute;
  top: 20px;

}

.dark-mode {
  appearance: none;
  background-color: rgb(41, 41, 41);
  color: white;
}

.dark-mode-label {
  background-color: rgb(233, 135, 135);
  border-radius: 50px;
  display: flex;
  height: 16px;
  left: 20px;
  position: absolute;
  top: 35px;
  width: 30px;
}

.ball {
  background-color: rgb(246, 224, 23);
  border-radius: 50%;
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
  transition: transform 0.2 linear;
  width: 16px;
}

.dark-mode:checked + .ball {
  background-color: rgb(15, 14, 68);
  transform: translateX(14px);
}

.movie-card-header {
  align-items: center;
  background-color: #343a40;
  color: #e51514;
  display: flex;
  flex-direction: column;
  height: 210px;
  justify-content: center;
  text-align: center;
}

h2 {
  margin-top: 20px;
  text-align: center;
}


h4 {
  margin-bottom: 20px;
}

.search-bar-form {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.search-bar-form input, select {
  align-items: center;
  margin-left: 10px;
}

.page-title {
  color: #f8f9fa;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 48px 30px;
}

.movie-listH1 {
  text-align: center;
}

.movie-card {
  background-color: rgb(209, 207, 207);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  box-shadow: 2px 2px 10px black;
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 5px;
  max-width: 100%;
  overflow: hidden;
  padding: 20px;
  transition: all 0.3s;
  width: 300px;
}

.movie-card:hover {
  background-color: white;
  transform: scale(1.1);
}

.img-movie {
  width: 400px;
}

.movie-card-image {
  width: 100%;
}

.movie-card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.movie-card-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-subtitle {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}

.movie-card-storyline {
  font-size: 14px;
  text-align: justify;
}

.rating {
  background-color: #007bff;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 9px;
}

.movie-card-rating {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
}

.add-movie-form input, textarea, select {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  margin-left: 30px;
}

.add-movie-form label {
  align-items: center;
  margin-left: 30px;
}

button {
  background-color: rgb(29, 122, 245);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin-bottom: 30px;
  margin-left: 30px;
  padding: 10px;
}

button:hover {
  background-color: rgb(86, 151, 236);
}

