body {
  background-color: whitesmoke;
  box-sizing: border-box;
  font-size: 16px;
}

.movie-card-header {
  align-items: center;
  background-color: #343a40;
  color: white;
  display: flex;
  font-size: 20px;
  height: 80px;
  justify-content: center;
}

.page-title {
  color: #f8f9fa;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 48px 30px;
}

.movie-card {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 5px;
  overflow: hidden;
  width: 450px;
}

.movie-card-image {
  width: 100%;
}

.movie-card-body {
  flex: 1 1 auto;
  padding: 20px;
  position: relative;
}

.title {
  color: white;
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 12px;
  margin-top: -50px;
  padding: 0 20px;
  position: relative;
}

/* .movie-card-subtitle {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
} */

.movie-card-storyline {
  font-size: 14px;
  text-align: justify;
}

.rating {
  background-color: #007bff;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 9px;
}

.movie-card-rating {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
}

.movie-details-container {
  align-items: center;
  display: flex;
  height: calc(100vh - 80px);
  justify-content: center;
  width: 100%;
}

.movie-details {
  background-color: #343a4031;
  display: flex;
  flex-flow: column wrap;
  height: 530px;
  width: 50%;
}

.movie-details img {
  height: 50%;
  object-fit: fill;
  width: 100%;
}

.movie-details .title {
  padding: 0 20px;
}

.body-details-movie {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 0 20px;
}

.btn-links-details {
  align-items: center;
  color: white;
  display: flex;
  height: 30px;
  margin: 0 auto;
  text-decoration: none;
  width: 80%;
}

.link {
  align-items: center;
  color: white;
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  margin: 0 3px;
  text-decoration: none;
}

.link:visited {
  text-decoration: none;
}

.link:nth-child( 1 ) {
  background-color: #343a40;
}

.link:nth-child( 2 ) {
  background-color: #24507c;
}
