body {
  background-color: #363636;
  box-sizing: border-box;
}

.titulo {
  color: blue;
  margin-bottom: 30px;
  text-align: center;
}

.linkAdicionar {
  color: white;
  margin-left: 450px;
}

.cartao {
  background-color: whitesmoke;
  border: 2px solid gray;
  box-shadow: 0 4px 4px -2px #989898;
  margin-bottom: 30px;
  margin-left: 450px;
  max-width: 500px;
  padding: 5px;
}

.linkCards1 {
  color: white;
}

.linkCards {
  color: white;
  margin-left: 15px;
}

img {
  width: 100%;
}

label {
  color: white;
}

.carregar {
  color: white;
  font-size: 50px;
  text-align: center;
}
